<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Stephen Stephenson</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="mt-5">
            <p>&copy; @DateTime.Now.Year - <a href="http://www.oregoncode.com">OregonCode.com</a></p>
            <div class="text-center">
                <p>Thank you for viewing my VMC Web Application Demonstration!</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
